.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  background: rgba(33, 150, 243, 0.9);
  padding: 77px 24px;

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__descr {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: var(--primary-bg-color);
  }

  .portfolio__item:hover & {
    transform: translateY(0);
  }
}

.overflow-hidden {
  position: relative;

  overflow: hidden;
}
